[submodule "Vendor/mobilecoin"]
	path = Vendor/mobilecoin
	url = https://github.com/mobilecoinfoundation/mobilecoin.git
[submodule "Artifacts"]
	path = Artifacts
	url = https://github.com/signalapp/libmobilecoin-apple-artifacts.git
